mat-form-field{
    width: 100%;
}
::ng-deep.mat-dialog-container{
    background-color: var(--color-4);
    color: var(--text);
    width: 100%;
}

::ng-deep  .mat-form-field-label{
    color: white;
}
::ng-deep  .mat-form-field-input{
    color: white!important;
}

::ng-deep  .mat-form-field-infix{
    color: white;
}
input{
    color: white!important;
    caret-color: green;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: rgb(155, 155, 155);
    opacity: 1; /* Firefox */
  }
  
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: rgb(155, 155, 155);
  }
  
  ::-ms-input-placeholder { /* Microsoft Edge */
    color: rgb(155, 155, 155);
  }

input{
    caret-color: greenyellow;
}